{
    padding: 0px;
    margin: 0px;
    font-family: verdana;
}

.head {
    background-color: #111184;
    height: 80px;
}

.logo {
    float: left;
    padding-top: 5px;
    margin-left: 30px;
    color: white;
    font-family: verdana;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu {
    margin-left: 1200px;
    padding-top: 15px;
    font-family: verdana;
}

.menu ul li a:hover {
    color: #070738;

}

.perkenalan {
    background-color: #070738 ;
    height: 500px;
    text-align: center;
    color: white;
    padding-top: 100px;
    font-family: verdana;
    font-size: 20px;

}
.m1 {
    color: #111184;
}

.perkenalan img {
    height: 150px;
}

.h2 {
    text-align: center;
    font-family: verdana;
    color: #111184;
    margin-top: 150px;
}

.intro {
    font-size: 25px;
    margin-left: 25px;
   color: #111184;
}

.p1{
    font-size: 20px;
    margin-left: 25px;
    font-family: verdana;
}

.h5bio {
    font-size: 20px;
    color: #111184;
    margin-top: 10px;
    font-family: verdana;
    margin-left: 25px;
}

.bio2 {
    font-size: 18px;
    margin-left: 25px;
    font-family: verdana;
}

.h5motiv {
    font-size: 20px;
    color: #111184;
    margin-top: 10px;
    font-family: verdana;
    margin-left: 25px;
}

.motivation {
    font-size: 18px;
    margin-left: 25px;
    font-family: verdana;
}

.social {
    text-align: center;
    font-family: verdana;
    color: #111184;
    margin-top: 200px;
}

.icon {
    font-size: 50px;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin: 5px 2px;
}

.icon img{
    height: 100px;
}
